<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="sourceFolder" value="C:\inetpub\wwwroot\OGZQ2_web_root\assets"/>
    <add key="outputFolder" value="E:\OGZQ2_2014\OGZQ2\config\version.txt"/>
    <add key="assetsRoot" value="assets"/>
  </appSettings>
 
</configuration>