<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--文件夹路径-->
    <add key="sourceFolder" value="src"/>
    <add key="windowUIFolder" value="com\xuyou\ogzq2\game\ui\window\"/>
    <add key="commandHeaderFolder" value="com\xuyou\ogzq2\network\command\"/>
    <add key="requestFolder" value="com\xuyou\ogzq2\network\request\"/>
    <add key="responseFolder" value="com\xuyou\ogzq2\network\response\"/>
    <!--包位置-->
    <add key="iwindowInterfacePath" value="com.xuyou.ogzq2.framework.display.IWindow"/>
    <add key="fixedWindowClassPath" value="com.xuyou.ogzq2.game.ui.window.FixedWindow"/>
    <add key="draggableWindowClassPath" value="com.xuyou.ogzq2.game.ui.window.DraggableWindow"/>
    <add key="fixedWindowManagerClassPath" value="com.xuyou.ogzq2.game.ui.window.FixedWindowManager"/>
    <add key="draggableWindowManagerClassPath" value="com.xuyou.ogzq2.game.ui.window.DraggableWindowManager"/>
    <add key="commandClassPath" value="com.xuyou.ogzq2.network.command"/>
    <add key="requestClassPath" value="com.xuyou.ogzq2.network.request"/>
    <add key="responseClassPath" value="com.xuyou.ogzq2.network.response"/>
    <add key="networkConstantsClassPath" value="com.xuyou.ogzq2.network.NetWrokConstants"/>
    <!--需要重写的类路径-->
    <add key="uiManagerPath" value="com\xuyou\ogzq2\game\ui\"/>
    <add key="netWorkManagerPath" value="com\xuyou\ogzq2\network\"/>
    <add key="responseConfigPath" value="com\xuyou\ogzq2\network\response\"/>
    <!--判定参数-->
    <add key="importChecker" value="import com.xuyou."/>
    <add key="windowFolderChecker" value="window"/>
  </appSettings>
</configuration>